/* reset html */
@font-face {
    font-family: Vazir;
    src: url('./../fonts/Vazirmatn-Regular.eot');
    src: url('./../fonts/Vazirmatn-Regular.eot?#iefix') format('embedded-opentype'),
         url('./../fonts/Vazirmatn-Regular.woff2') format('woff2'),
         url('./../fonts/Vazirmatn-Regular.woff') format('woff'),
         url('./../fonts/Vazirmatn-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('./../fonts/Vazirmatn-Bold.eot');
    src: url('./../fonts/Vazirmatn-Bold.eot?#iefix') format('embedded-opentype'),
         url('./../fonts/Vazirmatn-Bold.woff2') format('woff2'),
         url('./../fonts/Vazirmatn-Bold.woff') format('woff'),
         url('./../fonts/Vazirmatn-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('/../fonts/Vazirmatn-Black.eot');
    src: url('./../fonts/Vazirmatn-Black.eot?#iefix') format('embedded-opentype'),
         url('./../fonts/Vazirmatn-Black.woff2') format('woff2'),
         url('./../fonts/Vazirmatn-Black.woff') format('woff'),
         url('./../fonts/Vazirmatn-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('./../fonts/Vazirmatn-Medium.eot');
    src: url('./../fonts/Vazirmatn-Medium.eot?#iefix') format('embedded-opentype'),
         url('./../fonts/Vazirmatn-Medium.woff2') format('woff2'),
         url('./../fonts/Vazirmatn-Medium.woff') format('woff'),
         url('./../fonts/Vazirmatn-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
    font-family: Vazir;
}
body{
    font-family: Vazir;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
}


/* end  css reset */

/* base css */
.continer{
    margin:  0 auto;
    max-width: 85vw;
}
.text-center{
    text-align: center;
}
.ma-50{
    margin:  50px 0;
}
.ma-auto{
margin: 0 auto;
}
/* end base css */
/* start header */
img.logo {
    margin: 5px 10px;
}
#header{
    width: 100%;
    height: 600px;
    background-image: url("./../img/hader.jpg");
    background-size: cover;
}
#header .navbar-list, #header .navbar-list ul {
    display: inline;
    float: left;
    margin: 10px 50px 10px;
}
.navbar-list-items li{
    display: inline;
}
.navbar-list-items li a{ 
    color: white;
    padding: 0 10px ;
}
.navbar-list-items li a.active{
    color: #00e0d0;
} 
.navbar-list-items li a:hover{
    color: #00e0d0;
    border-bottom: 2px solid #00e0d0;
} 
/* box header */
.box-center , .box-center a{
    width: 61%;
    margin: 20vh auto;
    text-align: center;
    color: #eee;
}
.box-title{
    position: relative;
}
.box-title::after{
    position: absolute;
 content: " ";
 border: 1px solid #00e0d0;
 width: 80px;
 bottom: -10px;
 text-align: center;
 left: 45%;
}
.box-title:hover::after{
    position: absolute;
 content: " ";
 border: 2px solid #00e0d0;
 width: 100%;
 bottom: -10px;
 text-align: center;
left: 0;
}
#header .box-center  .box-descrption-pargraph{
 margin: 32px 0;
}
#header .box-center .box-descrption-pargraph:hover ,.about p:hover,.Customer-reviews-descrption:hover{
font-style: bold;
font-size: 1.2rem;
}
.box-center a{
    border: 2px solid #00e0d0 ;
    padding: 5px 8px;
    margin-top: 20px;
}.box-center a:hover{
    color:  #00e0d0 ;
    padding: 5px 12px;
}
.about {
    height: 500px;
}
.about .box-left , .about .box-right {
width: 48%;
float: right;
}
.about .box-right {
margin:50px  0;
}
.about .box-right img{
    padding: 0 30% ;
}
/* Customer-reviews */
#Customer-reviews{
    width: 100%;
    height: 500px;
    background-image: url("./../img/PUT_YOUR_BACKGROUND_HERE.jpg");
    background-size: cover;
}
.Customer-reviews-title{
    text-align: center;
    color: #eee;
    font-size: 32px;
    padding: 75px 0 0;
}
.Customer-reviews-descrption{
    width: 50%;
    color: #eee;
    text-align: center;
    margin: 50px auto;
}
#Customer-reviews img {
    position: absolute;
    left: 49vw;
    width: 64px;
    height: 64px;
}